PORT=3000
SUPABASE_URL=https://sdrrejakelznufdgpvzm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkcnJlamFrZWx6bnVmZGdwdnptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTc5OTQ5NiwiZXhwIjoyMDg3Mzc1NDk2fQ.lOSzTLrHzxDWHoB-w0m69x24wWeG1Ju0Q_aIHj5k39U
GEMINI_API_KEY=AIzaSyDoExl-DWyV2e9xpUYKU5YLHa2B6lZCe2k
GEMINI_MODEL=gemini-2.5-flash
SESSION_SECRET=84930682068252Hfjwj3750285Kjgowv
ADMIN_USER_ID=453362
